{% extends "base_generic.html" %}

{% block nav %}{% endblock %}
{% block content %}
<h2><span class="gray">Register //</span> <strong>success !</strong></h2>
<div class="rules">
<h3>Another network ?</h3>
<p>At this time there is no true SUPINFO alumni network, where you can easily keep an eye on your fellow students' professional activities. This network aims to be the top alumni network within SUPINFO. To achieve this ambitious goal, it relies on the participation of the students to fill the directories and spread the word.</p>

<h3>How may I contribute ?</h3>
<p>Anything you can do on this website is listed in your account. You can <span class="icon_account_edit demolink">edit your personnal informations</span> to display your LinkedIn or Twitter URL, or to expose your professional objectives.  As a new user, click on <span class="icon_company_add demolink">Add a company</span> to register your current or former companies in the directory. Once created, add the position you held. That's it! You can manage your positions in <span class="icon_position_manage demolink">Manage positions</span>.</p>

<p>You can also bookmark profiles. When visiting a profile, click <span class="icon_bookmarks demolink">Bookmark profile</span>. Bookmarks are <strong>not</strong> a mutual relationship and are private. If you bookmark me, I won't know</p>

<h3>What to do now ?</h3>
<p>Go to your account, and let's go !</p>
</div>
{% endblock %}