{% extends "base_generic.html" %}

{% block profile %}{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<h2><span class="gray">Register //</span> <strong>step 1/2</strong></h2>
<p>An email containing further instructions to continue your registration has been sent to the address corresponding to your Campus ID.</p>

<p><strong>Due to very aggressive spam filter rules on Microsoft Live mail servers, this email may be marked as spam. Do not forget to check your junk folder.</strong></p>
{% endblock %}
